// Colors
$bgGray: #333333;
$navGreen: #1f464d;
$ctaBlue: #3697a7;
$ctaBlueHover: #4bccdf;
$white: #e8f8f7;

// Font sizes
$font-med: 1.8rem; // 18px
$font-small: 1.4rem; // 14px
$font-lg: 2.5rem;
$font-xlg: 3rem;